.container{
    position: fixed;
    bottom: 0;
    height: 40px;
    background: rgb(237, 231, 231);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(88, 140, 184);
    margin-right: 40px;
}
.text1{
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(88, 140, 184);
    margin-left: 40px;
}